html{
  position: relative;
}
#top {
  background: rgba(0,0,0, 0.3);
margin-top: 0px; 
}
.jumbotron{
  margin-bottom:0px;
}
.jumbotron h1 {color: #FEFEFE;
}
#jaydesc{
  font-size: .9em;
}
 .coffeechoice { 
  display: block;
  width: 80%;
  padding: .9rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}
.coffeechoice:hover{ 
   background: rgba(0,0,0,0.5);
}
#navbutton:hover{
  background: rgba(255,255,255,0.23);
}
body {
  background-image: url("../res/heart-coffee-beans.jpg");
  background-size: cover;
  margin-bottom: 82px;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}
body:before{content: ""; background-image: inherit; position: fixed; top: 0; left: 0; height: 100vh; width: 100%; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover; background-size: cover !important; z-index: -1;
}
.navbar{
  background: rgba(0,0,0,0.6);
  border: rgba(0,0,0,0.6);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  /*background-color: #7d7d7d;*/
  background-color: rgba(102, 255, 102, 0.6);
  color: white;
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.5);
}
.navbar-default .navbar-nav>li>a{
  color: #c4c4c4;
}
.navbar-default .navbar-nav>li>a:hover{
  color: white;
}
#nav {
  margin-bottom: 0px;
  width:100%;
}
#navr{
  width:100px;
  padding-top: 10px;
}
#ex{
  margin-bottom:0px;
  width: 20px;
}
#shadbox { 
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 2rem;
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}
h3 {
  color: white;
}
p {color: white;
   text-shadow: 2px 2px black;
   margin-left: 1em;
   margin-right: 1em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.6);
  border: rgba(0,0,0,0.6);
}
.text-muted{
  margin-top: 20px;
  color: #c4c4c4;
}
.logo {
  width: 60px;
  height: 50px;
  margin-right: 2em;
}
.beanpic{
  border-radius: 3px;
  width: 200px;
  height: 150px;
}
#bean p{
  font-size: 1.5em;
}
.modal-footer{
  text-align: left;
}
.btn-default{
  width:100%;
}
.words{
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}
#jumbopic{
  width: 15em;
  border-radius: 3px;
}
#aboutUsback{
  background: rgba(0,0,0,0.5);
  margin-bottom:0px;
  margin-top:0px;
  padding-top: 2em;
}
#back{
  padding-top: 1em;
}
.roastselection { 
  display: block;
  width: 100%;
  padding-top: .3em;
  margin: 1rem auto; 
  border: none;
  font-size: 1.5em;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}
.roastselection:hover{ 
   background: rgba(102, 170, 102, 0.6);
}
.roastinstructions{
  width: 100%;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 1em;
  margin: 1rem auto; 
  font-size: 1.5em;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border: 1px solid rgba(255,255,255,0.23);
  border-radius: 3px; 
  cursor: text;
  -webkit-transition: .3s background;
  transition: .3s background;
}
.roastinstructions:focus{
  outline: none;
  border: 1px solid;
  border-color: rgba(102, 255, 102, 0.6);
  box-shadow: 0 0 10px rgba(102, 255, 102, 0.6);
}