body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#shadbox { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  position: absolute;
  width: 33%;
  margin-left: 31%;
  margin-top: 2rem;
  float: center;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#shadbox button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}
#shadbox button:hover { 
   background: rgba(0,0,0,0.5);
}

#shadbox p{
  text-shadow: 2px 2px black;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  -webkit-transition: .6s background;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-device-width: 800px) {
body { 
  background: url('../res/flickbeanmobile.png');
  background-repeat: no-repeat;
        background-attachment: fixed !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  body:before{content: ""; background-image: inherit; position: fixed; top: 0; left: 0; height: 100vh; width: 100%; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover; background-size: cover !important; z-index: -1;
}
  #bgvid { display: none; }
  #shadbox{
    width:70%;
    position: absolute;
    margin-top:10%;
    margin-bottom: 1em;
    margin-left: 11%;
  } 

  h1{
    font-size: 1.5em;
  }

  #shadbox p{
    font-size: 1.2em;
  }

  #shadbox button{
    padding: 0.5em;
    font-size: 1.2em;
  }
}
@media screen and (max-device-width: 500px) {
  body { background: url('../res/flickbeanmobile.png') #000 no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  body:before{content: ""; background-image: inherit; position: fixed; top: 0; left: 0; height: 100vh; width: 100%; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover; background-size: cover !important; z-index: -1;
}
  #bgvid { display: none; }
  #shadbox{
    width:70%;
    margin-left: 6.5%;
    position: absolute;
    margin-top:5%;
  } 

  h1{
    font-size: 1.5em;
  }

  #shadbox p{
    font-size: 1em;
  }

  #shadbox button{
    padding: 0.5em;
    font-size: 1em;
  }
}